{{#each postOne}}
  <div class="container">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <a href="/@{{nome}}">{{nome}}</a>
        <span class="text-muted" title="Quantidades de Like para este post">{{post_like}}</span>
      </div>
      <div class="card-body">
        <h2>
          {{titulo}}
        </h2>
        <strong class="text-muted">
          {{data}}
        </strong>
        <br>
        {{{conteudo}}}
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 d-grid gap-2">
            <button type="button" class="btn btn-secondary">Comentar</button>
          </div>
          <div class="col-md-6">
            <form action="/@{{nome}}/{{id}}/curtir" method="post">
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-danger">Curtir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}